.product-item {
    padding: 40px 0;

    &:first-child {
        padding-top: 0;
    }

    .product-image {
        position: relative;
        height: 380px;
        border-radius: 30px;
        background-color: #000;

        img {
            position: absolute;
            top: 10px;
            left: -25px;
            width: 100%;
            transform: rotate(-28deg);
        }
    }
    .product-title {
        font-size: 20px;
        font-weight: 700;
        margin: 26px 0 20px;
    }
    .product-description {
        font-size: 13px;
        color: var(--gray);
        line-height: 1.8;
        margin-bottom: 20px;
    }
    .product-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .product-price {
            font-size: 18px;
            font-weight: 700;
        }
        .product-button {
            font-weight: 700;
            font-size: 14px;
            background-color: var(--yellow);
            height: 46px;
            padding: 16px 20px;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            border-radius: 46px;
            cursor: pointer;
            transition: all .3s ease;

            &:hover {
                background-color: var(--yellow-hover);
                box-shadow: -2px 2px 4px rgba(0,0,0,.15);
            }
        }
    }
}