.header {
    margin-bottom: 15px;
    .logo {
        width: 50px;
        display: block;
    }
    
    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 15px;

        .title {
            font-size: 24px;
            font-weight: 700;
        }

        .total-price {
            font-size: 24px;
            font-weight: 700;
        }
    }
}